:root {
  --primary: #bc4123;
  --secondary: #ffffff;
  --text: #000000;
}

h1.h1-Welcome {
  text-align: center;
  font-size: 50px;
  color: var(--secondary);
  font-family: 'Roboto', sans-serif;
  /* margin-top: 15% */
  /* transform: translateY(15%); */
}

.allMar {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 5%;
  margin-bottom: 10%;
}

.jumbotron,
.home {
  background: url("components/images/CurrencyPic.svg") no-repeat fixed;
  background-size: cover;

}

.mask-custom {
  backdrop-filter: blur(2px);
  background-color: rgba(19,88,20,0.2);
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .jumbotron {
    margin-top: 0px;
    background: url("components/images/Home\ Page.jpg") no-repeat fixed;
  }
  .body-content {
    padding: 0;
  }
}

.jumbotron,
.home > .container {
  height: 100vh;
  background-size: cover;
  transform: translateY(25%);
}
